/* Оголошення стилів для всього документа */
body {
    font-family: Arial, sans-serif; /* Задаємо шрифт для всього документа */
}

/* Оголошення стилів для форми пошуку */
form {
    text-align: center; /* Вирівнюємо текст у формі по центру */
    margin-top: 20px; /* Встановлюємо верхній відступ форми */
}

/* Оголошення стилів для текстового поля та кнопки у формі */
input[type="text"], input[type="submit"] {
    margin: 5px; /* Задаємо зовнішній відступ для елементів вводу */
    padding: 5px; /* Задаємо внутрішній відступ для елементів вводу */
    border-radius: 5px; /* Закруглюємо кути елементів вводу */
}

/* Оголошення стилів для блоку з посиланнями */
.links {
    text-align: right; /* Вирівнюємо текст посилань вправо */
    margin-right: 20px; /* Встановлюємо правий відступ блоку */
    margin-top: 10px; /* Встановлюємо верхній відступ блоку */
}

/* Оголошення стилів для посилань */
a {
    margin-right: 10px; /* Встановлюємо правий відступ для посилань */
}

/* Оголошення стилів для особливого посилання "I'm Feeling Lucky" */
.lucky-link {
    display: block; /* Робимо посилання блочним елементом */
    text-align: center; /* Вирівнюємо текст по центру */
    margin-top: 20px; /* Встановлюємо верхній відступ для посилання */
    font-weight: bold; /* Робимо текст жирним */
    color: #4285F4; /* Задаємо колір тексту */
    text-decoration: none; /* Відключаємо декорації тексту */
}

/* Оголошення стилів для наведення курсору на посилання "I'm Feeling Lucky" */
.lucky-link:hover {
    text-decoration: underline; /* Додаємо підкреслення при наведенні */
}
